name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install dependencies
      run: yarn install

    - name: Set git user
      run: |
        git config --global user.name 'Donghun Kim'
        git config --global user.email 'donghun0217@kakao.com'

    - name: Set GH_TOKEN
      run: echo "GH_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV

    - name: Build and Deploy
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: yarn deploy